<div id="aboutSlider" class="row">
	<div id="aboutSlider">

	</div>
</div>
<div class="row">
	<div class="col-xs-8">
		<h2>About</h2>
		<p>
            FaithByDeeds.com is a response to the many blessings God has given to Decision Support, LLC, the developers of this site.  Decision Support is a software company that has been successful in the Business Intelligence market for over 32 years.  Based in Matthews, NC, the company has embarked on this new venture with the goal of helping others. FaithByDeeds.com focuses on organizations who are also working to fulfill the mission of helping others, by connecting them with people that want to help. Originally based on the verse Matthew 6:3, that we are not to let the left hand know what the right hand is doing, this website gives those with a generous spirit more opportunities to be generous.  It also provides a way for organizations to publicize needs so that those with a serving spirit can contribute to those needs.
            <br>
            <div style="text-align:right;"><a type="button" class="btn" href="/register">Get Started</a></div>
            <br><br>Please review our <a target="_blank" href="/terms">Terms and Conditions</a>, as well as our <a target="_blank" href="/content/Privacy-Policy.pdf">Privacy Policy</a>.
        </p>
	</div>
	<div class="col-xs-4" style="border-left: solid 1px #eee;height:350px;">
		<div class="sidebarQuote">
			<h3>'Give, and it will be given to you. A good measure, pressed down, shaken together and running over, will be poured into your lap. For with the measure you use, it will be measured to you.'</h3>
			<span>Luke 6:38</span>
		</div>
	</div>
</div>