<div id="faqSlider" class="row">
	<div id="faqSlider">

	</div>
</div>
<div class="row">
	<div class="col-xs-8">
		<h2>FAQ</h2>
		<p>
            <strong>What kind of needs can I publish through FaithByDeeds.com?</strong><br><br>

            The only limit is the type of needs you are trying to meet.  Obviously monetary needs can be published.  You can publish material needs such as food items, clothing, wheelchairs, medical supplies, mission supplies, construction supplies, tools, etc.  You can publish needs such as prayer requests, and the need for volunteers.  Schools can publish needs such as the need for tutors, reading buddies, classroom moms and dads, etc.  The possibilities are endless!<br><br>

            <strong>How do we receive monetary donations from our donors?</strong><br><br>

            During the donation process, the donor will submit payment to FaithByDeeds.com.  Your organization can specify how you want to be paid, either by Paypal or by check.  If you select Paypal, we will submit payment for the donations for the week to your Paypal account.  If you select payment by check, we will write a check for the donations for the week to the address you use when you register the account.<br><br>

            <strong>How often will we receive payments?</strong><br><br>

            FaithByDeeds.com will disburse payments on Mondays for donations received the prior week.<br><br>

            <strong>Is there a minimum donation?</strong><br><br>

            Yes.  The minimum monetary donation on FaithByDeeds.com is $5.00.<br><br>

            <strong>What happens if the donation is not delivered?</strong><br><br>

            Monetary donations are done through Paypal, and we are notified immediately if the transaction is successful or not.  If the transaction is not successful, then we do not record the donation.  For non-monetary donations, a delivery date is specified by the donor.  If you have donations that were promised, but not yet delivered, you may contact the donor to see if they still intend on making the donation.  If the donor decides not to follow through on the donation, you may mark the donation as unfulfilled in the donation log, and the status of the need will be updated accordingly.<br><br>

            <strong>How much does FaithByDeeds.com cost?</strong><br><br>

            There is no direct cost for your organization to use FaithByDeeds.com. For all monetary donations, we will charge a 3% fee. Paypal will charge an additional 30 cents + 2.9%. Our fee is used to help us pay for the cost of the servers, maintaining the website, etc.  For more information, please see our <a target="_blank" href="/terms">Terms of Service</a>.<br><br>

            <strong>We already receive donations online.  Why should I consider using FaithByDeeds.com?</strong><br><br>

            Most charitable organizations currently have a way for their donors to give electronically.  The delivery method of these types of payments range from a Paypal button on the website, to online services provided by packaged websites and software providers.  However, how many of these services allow you to actually publish the specific needs the donor is going to meet?  We believe that you will generate more donations by making your donors aware of specific needs you are trying to meet. Donors will connect with these needs and be moved to donate, where as a generic Donate Here button on your website will not.  We believe that by making your donors aware of specific needs, you will actually generate more donations.<br><br>

           <strong>What is a department? Am I required to setup departments?</strong><br><br>

            A department is a way of sub-dividing your organization.  For example, a church might have a Children’s Ministry department, a Youth Group department, a Handyman’s Ministry, etc.  It is also a way of delegating responsibilities within your organization.   Each department can have its own advocate.  You are not required to have departments in your organization.  Each organization will start with a department called General, and the organization admin is by default the advocate for the General department.<br><br>

            <strong>What is an advocate?  Do I have to setup an advocate for each department?</strong><br><br>

            An advocate is a registered user you have assigned to be in charge of a department.  This person will organize and create needs to be published on your site.  This person will also confirm that non-monetary needs have been delivered as promised, or they will mark those donations as not delivered. Each department must have an advocate.  The organization admin is the default advocate for a new department when it is created.  An advocate may be in charge of more than one department.<br><br>

            <strong>Can I change the amount needed for a donation after it has been published?</strong><br><br>

            Yes, you may change the amount needed for any donation as long as it is not beyond the “Needed By” date.<br><br>

            <strong>How do I tell our potential donors about FaithByDeeds.com?</strong><br><br>

            On the “Organization Settings” page there is a link named “Invite”.  Click on this link and it will send emails to any email address you enter.  You can also put a link on your website pointing them to your FaithByDeeds.com site.<br><br>

            <strong>How does FaithByDeeds.com co-exist with our existing website?</strong><br><br>

            When you sign up for a FaithByDeeds site, a sub-domain is created for you. For example, if you choose a sub-domain name of “myministry”, your sub-domain would be myministry.FaithByDeeds.com.  At the end of the signup process, we will email to you a link that you can place on your website that will direct anyone that clicks on that link to your FaithByDeeds site.  They will be able to register on the site to be a donor.  The logo they see on your FaithByDeeds site will be the same logo on your website.  Also the general color scheme will be similar to the colors on your web site.  We will try to make your FaithByDeeds site look as close to your existing web site as we can.  Keep in mind, however, that we must do this and still keep the site as user friendly as we possibly can.<br><br>
        </p>
	</div>
	<div class="col-xs-4" style="border-left: solid 1px #eee;height:350px;">
		<div class="sidebarQuote">
			<h3>'Give, and it will be given to you. A good measure, pressed down, shaken together and running over, will be poured into your lap. For with the measure you use, it will be measured to you.'</h3>
			<span>Luke 6:38</span>
		</div>
	</div>
</div>