<div id="homepageSlider" class="row">
	<div id="homepageSlider">
		<div class="tagline">Showing our Faith one Deed at a Time.</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-7">
		<h2>Welcome</h2>
		<p>But someone will say, “You have faith; I have deeds.” Show me your faith without deeds, and I will show you my faith by my deeds. – James 2:18. This verse is the heart of FaithByDeeds.com.  There are millions of believers all over the world that are looking for ways to put their faith into action. But how should they do so? That’s where we come in. FaithByDeeds.com is a service that allows organizations to publish needs, so that people of faith may respond and contribute to those needs. We believe that this is the perfect avenue for putting faith into action. Please browse through our site to see if FaithByDeeds.com is a solution for your ministry or organization. We strive to help you in your mission to serve others.</p>
	</div>
	<div class="col-xs-5" style="border-left: solid 1px #eee;height:350px;">
		<h2>Early Adopters</h2>
		<p>FaithByDeeds.com is looking for organizations to sign up as early adopters for their new website!  The website will allow organizations to publish needs to potential donors.  These needs include monetary donations, food items, clothing needs, mission supplies, construction supplies, medical supplies, etc.  The needs can even include things such as prayer requests or volunteers needed for an event.  The use of the website comes free of charge.  A small fee of 3-6% will be collected on all monetary donations.</p>
	</div>
</div>
<hr>
<div class="row" id="homepageQuote">
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<h2>
			But someone will say, "You have faith; I have deeds." Show me your faith without deeds, and I will show you my faith by my deeds.
		</h2>
		<span>James 2:18</span>
	</div>
	<div class="col-xs-2"></div>
</div>
<hr>
<h1>Get the word out</h1>
<div class="row">
	<div class="col-xs-12" id="spreadTheWord">
		Please help spread the word about FaithByDeeds by contacting a friend below!
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<input type="text" id="tellFriendEmail" placeholder="Email Address" class="form-control"/>
	</div>
	<div class="col-xs-2">
		<a type="button" id="tellFriendBtn" class="btn" href="" onclick="updateHref();" >Tell a Friend<a>
	</div>
	<div class="col-xs-6"></div>
</div>